{% extends 'store/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<p>
	<a href><button class="btn btn-primary bg-red-500 mt-4 mb-6 py-2 px-2">Paid Order</button></a>
	<a href><button class="btn btn-primary bg-green-500 mt-4 mb-6 py-2 px-2">Unpaid Order</button></a>
</p>
<div class="w-full my-6 bg-gray-100 mx-auto p-6 float-right">
	
	<!-- Start of For loop - For each p in products add a row -->
	
	

	{% for order in order_details %}

	{% if order.paid %}
		<div class="grid grid-cols-3 gap-5 border-t-2 border-gray-900 mb-4 text-2xl font-bold">
			<p>ORDER {{order.id}}</p>
			<p>ORDER PLACED: {{order.get_created_date}}</p>
			<p>ORDER PAID? {{order.paid}}</p>
		</div>

		<table class="w-full table-fixed mt-4">					
			<thead class="font-bold">
			<!-- The header row-->
				<tr>
					<!-- <td>Order ID</td> -->
					<!-- <td>Order Date</td> -->
					<td>Name</td>
					<td>Quantity</td>
					<td>Price</td>
					<td>Item Total</td>
					<!-- <td>Paid?</td> -->
					
					
				</tr>
			</thead>
			<tbody>
				{% for order_item in order.get_items %}
				<tr>
				
					<!-- <td>{{order.id}}</td> -->
					<!-- <td>{{order.created_date}}</td> -->
					<td>{{order_item.product}}</td>
					<td>{{order_item.quantity}}</td>
					<td>{{order_item.price}}</td>
					<td>{{order_item.get_cost}}</td>		
					<!-- <td>{{order.paid}}</td>		 -->
					
					
				</tr>
				{% endfor %}
				<!-- End of For loop -->	
						
			</tbody>
			
		</table>
		
				<p class="font-bold mt-4">Order Total:
                                {{order.get_total_cost}}</p>
			
        
        <p>
			<a href="{% url 'orders:cancel_order' order.id %}"><button class="btn btn-primary bg-red-500 mt-4 mb-6 py-2 px-2">Delete Order</button></a>
			<a href="{% url 'orders:detail' order.id %}"><button class="btn btn-primary bg-green-500 mt-4 mb-6 py-2 px-2">Order Detail</button></a>
        </p>
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}

