{% extends 'store/base.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<div class="grid grid-cols-8 gap-6 py-6">
    <div class="col-span-3 px-6"> 
        <img src="{{ product.image.url }}" class="rounded-xl">
    </div>
    <div class="col-span-5 p-6 bg-gray-100 rounded-xl relative">
        <h1 class="mb-6 text-3xl">{{ product.name }}</h1>
        <p class="text-black-700"><strong>Seller: </strong>{{ product.created_by }}</p>
        <p class="text-black-700"><strong>Price: $ </strong>{{ product.price }}</p>
        {% if product.description %}
        <p class="text-black-700"><strong>Description: </strong><br>{{ product.description }}</p>
        {% endif %}
        
        <div class="absolute bottom-8">
            {% if request.user == product.created_by or request.user.is_staff %}
            
           
                <a href="{% url 'products:delete_product' product.id %}" class="px-6 py-3 text-lg font-semibold bg-red-800 text-white rounded-xl hover:bg-red-900">Delete this</a>
                 <!-- <a href="{% url 'products:delete_product' product.id %}">Delete THIS</a><br> -->
                <a href="{% url 'products:edit_product' product.id %}" class="px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-gray-700">Edit this</a>
                <!-- <a href="{% url 'products:edit_product' product.id %}">Edit THIS</a> -->
                
            {% else %}
                
            {% endif %}
            <a href="{% url 'cart:add_product_to_cart' product.id %}" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-gray-700">Add to Cart</a>
        </div>
           

    </div>
        
            
               
        
    </div>
    
</div>



<div class="mt-10 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">You might also be interested in</h2>
    <div class="grid grid-cols-4 gap-3">
        {% for products in related_products %}
        <div>
            <a href="{% url 'products:detail' products.id %}"> 
                <div>
                    <img src="{{ products.image.url }}" class="rounded-t-xl">
                </div>
                

                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ products.name }}</h2>
                    <p class="text-gray-500">Price: {{ products.price }}</p>
                    <p class="text-gray-500">Price: {{ products.price }}</p>
                </div>
                
            </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}